<p id="notice"><%= notice %></p>

<% @task.talks.each do |talk| %>
    <%= talk.content_modifier %>
<% end %>

<div style=''>
<%= form_with(model: @talk) do |form| %>
  <%= form.hidden_field :task_id, value: @task.id %>

    <%= form.rich_text_area :content %>

  <br />
  <div class="actions">
      <%= form.submit '提交', class: 'btn btn-info  float-right' %>
  </div>
<% end %>

</div>
