<p id="notice"><%= notice %></p>

<div id='talks-box'>
    <%= @task.talk_contents %>
</div>


<br />
<%= form_with(model: @talk, remote: true, class: 'talk-form') do |form| %>
    <%= form.hidden_field :task_id, value: @task.id %>

    <%= form.rich_text_area :content %>
    <br />
    <div class="actions talk-submit">
        <%= form.submit '提交', class: 'btn btn-info  float-right' %>
    </div>
<% end %>
