<%= form_with(model: theme, local: true) do |form| %>
  <% if theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(theme.errors.count, "error") %> prohibited this theme from being saved:</h2>

      <ul>
        <% theme.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, autofocus: true %>
  </div>

    <%= form.hidden_field :user_id, value: @current_user.id %>

  <div class="actions">
    <%= form.submit '提交', class: 'btn btn-info' %>
  </div>
<% end %>
