<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @theme.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @theme.user_id %>
</p>

<p>
  <strong>User ids:</strong>
  <%= @theme.user_ids %>
</p>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
